.cart-list {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}
.remove-all-btn{
  color: #0b69ff;
  font-size: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  font-weight: 600;
}